{
  "extends": ["eslint:recommended"],
  "env": {
    "browser": false,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "semi": ["error", "always"],
    "no-var": ["error"],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never" }]
  }
}
